<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="static">User Name</ion-label>
          <ion-input placeholder="User Name" type="text" [(ngModel)]="loginObj.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input placeholder="Password" type="password" [(ngModel)]="loginObj.password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="btnClick()">Login</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>